IndentWidth: 4

Language: Cpp

DerivePointerAlignment: false
PointerAlignment: Left
IndentCaseLabels: true
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignTrailingComments: true
